@font-face{
    font-family: 'Lato', sans-serif;
}
@font-face{
    font-family:"Playfair Display";
    font-style:italic;
    font-weight:bolder;
}

*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type:none;
    font-family:'Lato';
}
header{
    width:100%;
    height:70px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    position:fixed;
    background-color:#ffffff;
    z-index:10;
    top:0;
}
.nav-btn{
    display:inline-block;
}
.navbar{
    font-weight:100;
}
.navbar a:hover{
    color:pink;
}
.navbar a{
    display:none;
}
aside{
    width:100px;
    height:50px;
    display:inline-block;
}
aside>*{
    width:26px;
    height:26px;
    background-size:contain;
    background-color:grey
}
.instagram{
    background-image:url(../img/instagram.png);
}
.facebook{
    background-image:url(../img/facebook.png);
}
.pinterest{
    background-image:url(../img/pinterest.png);
}
main{
    margin-top:70px;
}
.description{
    width:90%;
    height:700px;
    display:flex;
    align-items:center;
    background-color:antiquewhite;
    padding:0 5%;
    background-image:url(../img/slide0.png);
    background-size:cover;
    background-position:center;
}
.corousel-btn{
    width:120px;
    height:46px;
    font-size:30px;
    font-family:"times new roman";
    border:0;
    display:none;
    background-color:rgb(245,250,244);
    border-bottom:5px solid #c9ddc9;
}
#prev{
    left:0;
    text-align:right;
}
#next{
    right:0;
    text-align:left;
}
#prev:hover,#next:hover{
    color:#e25e90;
    text-align:center;
}
.description-info-header{
    font-size:55px;
    font-family:"times new roman";
}
.description-read-more{
    font-weight:bold;
    font-size:20px;
    color:black;
}
small{
    font-size:14px;
    color:#9b9b9b;
}

.services{
    width:90%;
    height:690px;
    padding:0 5%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    background-image:url(../img/bg.png);
    background-size:cover;
    background-position:center;
}
.services-description-appointment{
    order:3;
}

.link-btn{
    width:auto;
    height:auto;
    padding:11px 45px;
    border:2px solid #ebebeb;
    font-size:20px;
    font-weight:600;
    font-family:"times new roman";
}
.link-btn:hover{
    color:white;
    background-color:#3f3e40;
}
.services-description-title{
    width:200px;
    font-size:55px;
    font-family:"times new roman";
}
.services-description-title i{
    font-family:"Playfair Display";
}
.price-list-each{
    margin-top:50px;
}
.text-big{
    font-size:24px;
}
.text-big a{
    color:black;
    font-family:"times new roman";
}

.nominations{
    width:80%;
    height:auto;
    padding:0 10%;
    display:flex;
    flex-direction:column;
    background-position:center;
}
.nominations img{
    width:118px;
    height:110px;
    margin:20px auto;
}

.works{
    width:90%;
    height:auto;
    padding:0 5%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
}
.works img{
    width:325px;
    height:400px;
    margin:20px auto;
}
.works-header{
    width:275px;
    height:70px;
    font-size:55px;
    font-family:"times new roman";
}
.works-specification{
    width:550px;
    color: #9b9b9b;
    font-size:26px;
    font-weight: 400;
    font-family:"times new roman";
}
.works-specification i{
    font-family:"Playfair Display";
    font-weight:bolder;
}
.works-examples{
    border:11px solid #f2f3f8;
}


.footer{
    width:100%;
    height: auto;
    display:inline-flex;
    flex-direction: column;
    justify-content:space-around;
    align-content:center;
    align-items: center;
    background-color: #2c2c2c;
    color:white;
    font-size:14px;
}
.footer-headers{
    letter-spacing:3px;
}
.footer div{
    margin-top:100px;
    color:#6c6c6c;
}
.footer nav{
    display:flex;
    flex-direction: column; 
}
.footer-children a{
    color:#6c6c6c;
}
.footer-children a:hover{
    color:white;
}
.footer-children-small{
    width:250px;
    color:#6c6c6c;
}
.footer-children>input{
    margin-top:20px;
    float:left;
}
.email-field{
    width:136px;
    height:24px;
    padding:13px 19px 13px 65px;
    background-color:#393939;;
    border:0;
}
.sub-btn{
    width:55px;
    height:50px;
    background-color:#e25e90;
    border:0;
}
.footer-children>*{
    margin-top:15px;
}

@media(max-width:991px){
    .services-description{
        order:1;
    }   
    .price-list{
        order:2;
    }
}
@media(min-width:992px){
    header{
        width:80%;
        padding:0 10%;
    }
    .nav-btn{
        display:none;
    }
    .navbar a{
        display:inline-flex;
    }
    .logo{
        width:134px;
        height:36px;
        background-image:url(../img/logo.png);
        
    }
    .navbar a{
        margin:0 30px;
    }
    
    .description{
        width:100%;
        height:570px;
        padding:0;
        justify-content:space-between;
    }
    .corousel-btn{
        display:inline-block; 
    }
    .description-info{
        width:400px;
        position:absolute;
        margin-left:15%;
    }
    
    .services{
        width:70%;
        height:690px;
        padding:0 15%;
        flex-direction:row;
        flex-wrap:wrap;
        align-items:center;
    }
    .price-list{
        width:50%;
    }
    .services-description{
        width:300px;
        margin-left:20%;
    }
    .services-description-appointment{
        margin-left:70%; 
        margin-top:-400px;
    }
    
    .nominations{
        width:60%;
        height:285px;
        padding:0 20%;
        flex-direction:row;
        align-items: center;
        justify-content:space-around;
        background-image:url(../img/bgimg.jpg);
    }
    
    
    .works{
        width:70%;
        height:724px;
        padding:0 15%;
    }
    .works img{
        width:325px;
        height:400px;
        margin:20px auto;
    }
    .works-header{
        width:275px;
        height:70px;
        font-size:55px;
    }
    .works-specification{
        width:520px;
    }
    
    .footer{
        width:80%;
        height:350px;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding:0 10%;
        align-items:flex-start;
    }
    .footer nav{
        display:flex;
        flex-direction: column; 
    }
    .footer-children{
        width:300px;
        height: auto;
    }
}